html{
    margin: 0;
    padding: 0;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    padding-top: 20px;;
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 7px;
    border-radius: 20px;
    border: solid rgb(150, 150, 150);
}

.row{
    display: flex;
    gap: 5px;
}

.screen{
    display: flex;
    background-color: rgb(112, 114, 87);
    height: 40px;
    border-radius: 5px;
}

.top-row{
    display: flex;
    gap: 5px;
}

#C{
    flex: 1;
    border-radius: 10px;
}

#equal{
    flex: 1;
    border-radius: 10px;
}

.bottom-row{
    display: flex;
    gap: 5px;
}

#n0{
    flex: 1;
    border-radius: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
    color: white;
    background-color: grey;;
}

.buttons:active{
    background: rgba(128, 128, 128, 0.761);
}

.operator{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
    color: white;
    background-color: orange;
}

.operator:active{
    background: rgba(255, 166, 0, 0.738);
}

