:root {
    ---color-red: #DB261D;
    ---color-yellow: #FAF333;
    ---color-orange-light: #FFA500;
    ---color-orange-dark: #FFA600BC;
    ---color-grey-light: #969696;
    ---color-grey-dark: #707257;
    ---color-white: #FFFFFF;
    ---color-black: #000000;
    ---font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(---color-red);
    font-family: var(---font-family);
}

body {
    background-image: url(/assets/img/sickle.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding: 5px;
    width: 190px;
    background-color: var(---color-black);
    border-radius: 20px;
    border: solid var(---color-grey-light);
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.row {
    display: flex;
    gap: 5px;
}

button {
    margin: 2px;
}

.screen {
    margin: 10px 0;
    height: 50px;
    inline-size: 100%;
    background-color: var(---color-grey-dark);
    border-radius: 5px;
    text-align: end;
    word-wrap: break-word;

}

.top-row {
    display: flex;
    gap: 5px;
}

#C {
    flex: 1;
    border-radius: 10px;
}

#equal {
    flex: 1;
    border-radius: 10px;
}

.bottom-row {
    display: flex;
    gap: 5px;
}

#n0 {
    flex: 1;
    border-radius: 20px;
}

.number {
    padding: 20px;
    height: 20px;
    width: 20px;
    background-color: var(---color-grey-light);
    color: var(---color-grey-white);
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons:active {
    background: var(---color-grey-dark);
}

.operator {
    padding: 20px;
    height: 20px;
    width: 20px;
    background-color: var(---color-orange-light);
    color: var(---color-white);
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator:active {
    background: var(---color-orange-dark);
}
